<div class="grid-wrapper">
    <div class="problem">
        <h1><%=task_title%></h1>
        <p><%=description%></p>
        
      
    </div>
    <div class="editor">
        <div class="editor__wrapper">
            <div class="editor__body">
                <div id="editorCode" class="editor__code"></div>
            </div>
            <div class="editor__footer">
                <div class="editor__footer--left">
                    <button class="editor__btn editor__run">Run ></button>
                    <button class="editor__btn editor__reset">Reset ></button>
                    <button class="editor__btn editor__submit">Submit ></button>
                </div>
                <div class="editor__footer--right">
                    <div class="editor__console">
                        <ul class="editor__console-logs"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="answers"><%=answers%></div>
    <div class="default_code"><%=default_code%></div>
</div>
<script src="/ace.js"></script>
<script src="/editor.js"></script>
<script src="/editor-console.js"></script>
<script src="/ext-language_tools.js"></script>
<script src="/mode-javascript.js"></script>