:root {
    --editor-bg: #6b886b;
    --editor-border: #3f87a6;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.center {
    display: grid;
    justify-content: center;
}

html, body {
    height: 100%;
    width: 100%;
}

.editor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editor-solution {
    height: 100%;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.editor__wrapper {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--editor-bg);
    padding: 2em;
    /* border: 1px solid #ccc; */
}

.editor-solution__wrapper {
    margin-top: 3vh;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--editor-bg);
    padding: 2em;
    border-radius: 20px;

}

.solution-window {
    
}

.solution-grid {
    display: grid;
    justify-content: center;
    
}

.editor__body {
    flex: 1;
}

.editor__footer {
    display: flex;
}

.editor__footer--left {
    display: flex;
    flex-direction: column;
}

.editor__footer--right {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}

.editor__btn {
    border: 0;
    padding: .5em;
    background-color: #e3e5d4;
    border: 2px solid #415e31;
    border-radius: 10px;
    margin-top: 1em;
    width: 100px;
    cursor: pointer;
    font-family: monospace;
    color: #415e31;
    font-size: 1.2em;
    font-weight: bold;
}

.editor__console {
    background-color: #e3e5d4;
    width: 100%;
    height: 15vh;
    margin-top: .9em;
    border: 2px solid #415e31;
    overflow: auto;
    border-radius: 10px;
    
}

.editor__code {
    margin-top: 2vh;
    position: relative;
    height: 54vh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 2vh;
}

.solution__code {
    position: relative;
    height: 500px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Editor Console Logs */
.editor__console-logs {
    padding: 10px;
    list-style: none;
}

.editor__console-logs li pre {
    font-size: 1.2em;
    font-family: monospace;
}

/* .ace_gutter {
    border-left: 5px solid var(--editor-border);
} */

.log--default {
    color: #000;
}

.log--string {
    color: #48BF0A;
}

.log--number {
    color: #48BF0A;
}

.log--boolean {
    color: blue;
}

.log--undefined {
    color: #415e31;
}

.log--error {
    color: red;
}

.log--object {
    color: darkcyan;
}

.log-array {
    color: darkblue;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e4e4d4;
    color: #555a56;
    font-family: monospace;
    height: 90vh;

}

.answers, .default_code, .solution_code {
    display: none;
}

.banner {
    background-color: #bdb988;
    color: #555a56;
    height: 10vh;
    display: flex;
    align-items: center;
    font-family: "Kode Mono";
}

.banner-header {
    margin: 20px;
}

.spacer-test {
    margin-top: 2vh;
    height: 8vh;
    background-color: #bdb988;
}



.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: #6b886b;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 45vw;
    color: #e4e4d4;
    
}

.nav-bar-btn {
    cursor: pointer;
    border-right: 3px solid #415e31;
    padding-left: 2vw;
    padding-right: 2vw;
}

.nav-bar-btn:last-child {
    /* padding-right: 0; */
    border-right: none;
}

.solution-window, .ai-assistant-window {
    display: none;
}

.statement-window {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.25rem;
}

pre {
    white-space: pre-wrap;
}

.problem-list {
    /* display: grid; */
    justify-content: center;
    grid-template-columns: 1fr;
    width: 100%;
    height: 90vh;
    background-color: #e4e4d4;
}

.problem-grid {
    display: flex;
    justify-content: center;
}

.problems {
    background-color: #bdb988;
    margin-top: 4vh;
    width: 30vw;
    max-height: 30vh;
    padding: 15px;
    border-radius: 20px;
    font-family: monospace;
    font-size: 1.2em;
    color: #555a56
}

.problem-difficulty {
    text-align: center;
}

.evolution-id {
    padding-left: 5px;
}

table {
    border-spacing: 0px;
}

tr:nth-child(even) {
    background-color: #6b886b;
    color: #e4e4d4;
}

.welcome-message {
    width: 40vw;
    min-width: 400px;
    padding: 2vw;
    font-family: monospace;
    background-color: #6b886b;
    margin-top: 2vw;
    border-radius: 20px;
    color: #e3e5d4;
    font-size: 1.5em;
}

.message-grid {
    display: grid;
    justify-content: center;;
}


a:visited {
    color: inherit;
}

a:link {
    text-decoration: none;
    color: inherit;
}



/* Styling the main container */
.container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    height: 80%;
}

/* Styling the msg-header container */
.msg-header {
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #efefef;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container1 {
    width: 270px;
    height: auto; 
    float: left;
    margin: 0;
}


.active {
    width: 150px;
    float: left;
    color: black;
    font-weight: bold;
    margin: 0 0 0 5px;
    height: 10%;
 
}


.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-radius: 20px;
}


.chats {
    padding: 15px 15px 0 25px;
    font-family: monospace;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #6b886b;
}

.msg-page {
    max-height: 500px;
    height: 500px;
    overflow-y: auto;
}

/* Styling the msg-bottom container */
 .msg-bottom {
        border-top: 1px solid #ccc;
        position: relative;
        height: 11%;
        background-color: rgb(239 239 239);
    }
/* Styling the input field */
    .input-group {
        float: right;
        /* margin-top: 5px; */
        outline: none !important;
        width: 100% !important;
        background-color: #bdb988;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 30px;
       
    }
    
    .form-control {
        border: none !important;
        border-radius: 10px !important;
        display: block;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #e4e4d4;
        background-clip: padding-box;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        width: 80%;
        font-family: monospace;
        margin-left: 20px;
    }
    
    .input-group-text {
        background: transparent !important;
        border: none !important;
        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: b;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border-radius: 0.25rem;
        font-weight: bold !important;
        cursor: pointer;
    }
    
    input:focus {
        outline: none;
        border: none !important;
        box-shadow: none !important;
    }
    
    .send-icon {
        font-weight: bold !important;
    }

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
    background: #e3e5d4 none repeat scroll 0 0;
    border-radius: 10px;
    color: #415e31;
    font-size: 1.2em;
    margin-left: 1rem;
    padding: 1rem;
    width: 75%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
    margin-bottom: 2vh;
}

.ai-send {
    border: none;
    border-radius: 10px;
    width: 70px;
    cursor: pointer;
    color: #e4e4d4;
    font-family: monospace;
    font-weight: bold;
    background-color: #6b886b;
    margin-right: 20px;
    font-size: 1.2em;
}

.outgoing-msg {
    background-color: #bdb988;
    /* background-image: linear-gradient(135deg, rgba(90,104,77,1) 0%, rgba(105,119,92,1) 50%, rgba(44,47,41,1) 100%); */
    border-radius: 10px;
    font-size: 1.2em;
    color: #000;
    padding: 5px 10px 5px 12px;
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
    float: right;
    max-width: 75%;
    width: fit-content;
    margin-bottom: 2vh;
    margin-right: 1rem;
}

@media only screen and (max-device-width: 850px) {
    *,
    .time {
        font-size: 28px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 28px;
    }
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}

@media only screen and (max-device-width: 450px) {
    *,
    .time {
        font-size: 28px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 28px;
    }
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}

